/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-button: #ff14af;
	--color-button-hover: #c50082;
	--color-main: #39FF14;
	--color-background:#f1f1f1;
	--color-text: #111;
	--color-text-secondary: #fff;

	--whiteSpace: clamp(1em, 4vw, 1.5em);
	--border-radius: 1em;
}

@media (prefers-color-scheme:dark) {
	:root {
	--color-button: #ff14af;
	--color-button-hover: #c50082;
	--color-main: #39FF14;
	--color-background:#9a9a9a;
	--color-text: #111;
	--color-text-secondary: #fff;

	--whiteSpace: clamp(1em, 4vw, 1.5em);
	--border-radius: 1em;
	}
}





/**********/
/* HEADER */
/**********/
header {
	align-items: center;
	background: var(--color-main);
	display: flex;
	flex-direction: row;
	height: 3rem;
	justify-content: space-evenly;
}





/************/
/* ALGEMEEN */
/************/
main {
	font-family: eenfont, sans-serif;
	background: var(--color-background);
	color: var(--color-text);
}

h2 {
	font-size: 1.25rem;
	margin-left: 2em;
}





/*********************/
/* PLAY/PAUSE BUTTON */
/*********************/
.playPauseBTN {
	background: var(--color-button);
	border-radius: var(--border-radius);
	color: var(--color-text-secondary);
	height: 3em;
	margin-left: 2em;
	width: 6em;
}

.playPauseBTN:hover {
	background: var(--color-button-hover);
	color: var(--color-text-secondary);
}