/* CSS Document */

/****************/
/* JOUW STYLING */
/****************/
aside {
	padding: var(--whiteSpace);
	position: sticky;
}

ul {
	display: grid;
	grid-gap: var(--whiteSpace);
	list-style: none;
	margin: 0;
	padding: var(--whiteSpace);
}

li {
	background: var(--color-main);
	border-radius: var(--whiteSpace);
	cursor: grab;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: var(--whiteSpace);
	padding: var(--whiteSpace);

}
  
li.sortable-ghost {
	opacity: .25;
}
  
li.sortable-drag {
	cursor: grabbing;
}

li h2 {
	font-size: 1em;
	grid-column-end: -1;
	grid-column-start: 2;
	margin: 0;
}
  
li p {
	margin: 0;
	grid-column-end: -1;
	grid-column-start: 2;
}
  
li img {
	height: 3em;
	width: auto;
	grid-column-end: 1;
	grid-column-start: 1;
}

li button {
	grid-column-end: -1;
	grid-column-start: 2;
}